<a href="https://colab.research.google.com/github/lucandro/IBM/blob/main/Manejo_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


# Predicción del aterrizaje de la primera etapa del Falcon 9 de SpaceX¶
## Laboratorio 2:

Procesamiento de datos Tiempo estimado necesario: 60 minutos En este laboratorio, realizaremos un análisis exploratorio de datos (EDA) para encontrar algunos patrones en los datos y determinar cuál sería la etiqueta para entrenar modelos supervisados.

En el conjunto de datos, hay varios casos diferentes en los que el cohete no aterrizó con éxito. A veces, se intentó un aterrizaje pero falló debido a un accidente; por ejemplo, Océano verdadero significa que el resultado de la misión aterrizó con éxito en una región específica del océano, mientras que Océano falso significa que el resultado de la misión aterrizó sin éxito en una región específica del océano. RTLS verdadero significa que el resultado de la misión aterrizó con éxito en una plataforma de tierra. RTLS falso significa que el resultado de la misión aterrizó sin éxito en una plataforma de tierra. ASDS verdadero significa que el resultado de la misión aterrizó con éxito en un barco no tripulado. ASDS falso significa que el resultado de la misión aterrizó sin éxito en un barco no tripulado.

En este laboratorio, convertiremos principalmente esos resultados en etiquetas de entrenamiento, donde 1 significa que el refuerzo aterrizó con éxito y 0 significa que no tuvo éxito.

## Objetivos

Realizar análisis exploratorio de datos y determinar etiquetas de entrenamiento

- Análisis exploratorio de datos
- Determinar etiquetas de entrenamiento

In [1]:
#  Pandas es una biblioteca de software escrita para el lenguaje de programación Python para la manipulación y el análisis de datos.
import pandas as pd
# NumPy es una biblioteca para el lenguaje de programación Python que agrega compatibilidad con matrices y arreglos multidimensionales grandes, junto con una gran colección de funciones matemáticas de alto nivel para operar en estos arreglos.
import numpy as np

In [2]:
df=pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/dataset_part_1.csv")
df.head(10)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857
5,6,2014-01-06,Falcon 9,3325.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1005,-80.577366,28.561857
6,7,2014-04-18,Falcon 9,2296.000000,ISS,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1006,-80.577366,28.561857
7,8,2014-07-14,Falcon 9,1316.000000,LEO,CCAFS SLC 40,True Ocean,1,False,False,True,NaN,1.0,0,B1007,-80.577366,28.561857
8,9,2014-08-05,Falcon 9,4535.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1008,-80.577366,28.561857
9,10,2014-09-07,Falcon 9,4428.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1011,-80.577366,28.561857

Identificar y calcular el porcentaje de valores faltantes en cada atributo

In [3]:
df.isnull().sum()/df.count()*100

FlightNumber       0.000
Date               0.000
BoosterVersion     0.000
PayloadMass        0.000
Orbit              0.000
LaunchSite         0.000
Outcome            0.000
Flights            0.000
GridFins           0.000
Reused             0.000
Legs               0.000
LandingPad        40.625
Block              0.000
ReusedCount        0.000
Serial             0.000
Longitude          0.000
Latitude           0.000
dtype: float64

Identifique qué columnas son numéricas y categóricas:

In [4]:
df.dtypes

FlightNumber        int64
Date               object
BoosterVersion     object
PayloadMass       float64
Orbit              object
LaunchSite         object
Outcome            object
Flights             int64
GridFins             bool
Reused               bool
Legs                 bool
LandingPad         object
Block             float64
ReusedCount         int64
Serial             object
Longitude         float64
Latitude          float64
dtype: object

## TAREA 1:
Calcular la cantidad de lanzamientos en cada sitio

Los datos contienen varias instalaciones de lanzamiento de Space X: Complejo de lanzamiento espacial 40 de Cabo Cañaveral VAFB SLC 4E, Complejo de lanzamiento espacial 4E (SLC-4E) de la base de la Fuerza Aérea Vandenberg, Complejo de lanzamiento espacial 39A del Centro Espacial Kennedy KSC LC 39A. La ubicación de cada lanzamiento se coloca en la columna LaunchSite

A continuación, veamos la cantidad de lanzamientos para cada sitio.

Use el método `value_counts()` en la columna LaunchSite para determinar la cantidad de lanzamientos en cada sitio:

In [5]:
# Aplicar value_counts() en la columna LaunchSite
df["LaunchSite"].value_counts()

LaunchSite
CCAFS SLC 40    55
KSC LC 39A      22
VAFB SLC 4E     13
Name: count, dtype: int64

Cada lanzamiento tiene como objetivo una órbita dedicada, y estos son algunos tipos de órbitas comunes:

- LEO: la órbita terrestre baja (LEO) es una órbita centrada en la Tierra con una altitud de 2000 km (1200 mi) o menos (aproximadamente un tercio del radio de la Tierra),[1] o con al menos 11,25 períodos por día (un período orbital de 128 minutos o menos) y una excentricidad menor a 0,25.[2] La mayoría de los objetos creados por el hombre en el espacio exterior están en LEO [1].

- VLEO: las órbitas terrestres muy bajas (VLEO) se pueden definir como las órbitas con una altitud media por debajo de los 450 km. Operar en estas órbitas puede proporcionar una serie de beneficios a las naves espaciales de observación de la Tierra, ya que la nave espacial opera más cerca de la observación[2].

- GTO Una órbita geosincrónica es una órbita terrestre alta que permite a los satélites coincidir con la rotación de la Tierra. Ubicado a 22,236 millas (35,786 kilómetros) sobre el ecuador de la Tierra, esta posición es un punto valioso para monitorear el clima, las comunicaciones y la vigilancia. Debido a que el satélite orbita a la misma velocidad que gira la Tierra, el satélite parece permanecer en su lugar a lo largo de una única longitud, aunque puede desplazarse de norte a sur”, escribió la NASA en su sitio web Earth Observatory [3] .

- SSO (o SO): es una órbita heliosincrónica, también llamada órbita heliosincrónica, es una órbita casi polar alrededor de un planeta, en la que el satélite pasa sobre cualquier punto dado de la superficie del planeta a la misma hora solar media local [4] .

- ES-L1: en los puntos de Lagrange, las fuerzas gravitacionales de los dos cuerpos grandes se cancelan de tal manera que un objeto pequeño colocado en órbita allí está en equilibrio en relación con el centro de masa de los cuerpos grandes. L1 es uno de esos puntos entre el sol y la tierra [5] .

- HEO Órbita altamente elíptica, es una órbita elíptica con alta excentricidad, generalmente referida a una órbita alrededor de la Tierra [6].

- ISS Estación espacial modular (satélite artificial habitable) en órbita terrestre baja. Es un proyecto colaborativo multinacional entre cinco agencias espaciales participantes: NASA (Estados Unidos), Roscosmos (Rusia), JAXA (Japón), ESA (Europa) y CSA (Canadá) [7]

- MEO Órbitas geocéntricas que varían en altitud desde 2000 km (1200 mi) hasta justo por debajo de la órbita geosincrónica a 35 786 kilómetros (22 236 mi). También conocida como órbita circular intermedia. Estos se encuentran "más comúnmente a 20.200 kilómetros (12.600 mi), o 20.650 kilómetros (12.830 mi), con un período orbital de 12 horas [8]

- HEO Órbitas geocéntricas por encima de la altitud de la órbita geosincrónica (35.786 km o 22.236 mi) [9]

- GEO Es una órbita geosincrónica circular a 35.786 kilómetros (22.236 millas) sobre el ecuador de la Tierra y que sigue la dirección de la rotación de la Tierra [10]

- PO Es un tipo de satélites en los que un satélite pasa por encima o casi por encima de ambos polos del cuerpo que está orbitando (normalmente un planeta como la Tierra [11]

Algunos se muestran en el siguiente gráfico:

## TAREA 2:
 Calcular el número y la ocurrencia de cada órbita¶

Utilice el método `.value_counts()` para determinar el número y la ocurrencia de cada órbita en la columna Órbita

In [6]:
# Aplicar value_counts en la columna Orbit
df["Orbit"].value_counts()

Orbit
GTO      27
ISS      21
VLEO     14
PO        9
LEO       7
SSO       5
MEO       3
ES-L1     1
HEO       1
SO        1
GEO       1
Name: count, dtype: int64

## TAREA 3:
Calcular la cantidad y la ocurrencia de resultados de la misión en las órbitas

Utilice el método `.value_counts()` en la columna Outcome para determinar la cantidad de landing_outcomes. Luego, asígnelo a una variable landing_outcomes.

In [7]:
# landing_outcomes = valores en la columna Resultado
landing_outcomes = df["Outcome"].value_counts()
landing_outcomes

Outcome
True ASDS      41
None None      19
True RTLS      14
False ASDS      6
True Ocean      5
False Ocean     2
None ASDS       2
False RTLS      1
Name: count, dtype: int64

`True Ocean` significa que el resultado de la misión aterrizó con éxito en una región específica del océano, mientras que `False Ocean` significa que el resultado de la misión aterrizó sin éxito en una región específica del océano. `True RTLS` significa que el resultado de la misión aterrizó con éxito en una plataforma de tierra. `False RTLS` significa que el resultado de la misión aterrizó sin éxito en una plataforma de tierra. `True ASDS` significa que el resultado de la misión aterrizó con éxito en un barco no tripulado. `False ASDS` significa que el resultado de la misión aterrizó sin éxito en un barco no tripulado. `None ASDS` y `None None` representan un aterrizaje fallido.

In [8]:
for i,outcome in enumerate(landing_outcomes.keys()):
    print(i,outcome)

0 True ASDS
1 None None
2 True RTLS
3 False ASDS
4 True Ocean
5 False Ocean
6 None ASDS
7 False RTLS

Creamos un conjunto de resultados donde la segunda etapa no tuvo éxito:

In [9]:
bad_outcomes=set(landing_outcomes.keys()[[1,3,5,6,7]])
bad_outcomes

{'False ASDS', 'False Ocean', 'False RTLS', 'None ASDS', 'None None'}

## TAREA 4:
Crear una etiqueta de resultado de aterrizaje a partir de la columna Resultado

Usando Resultado, cree una lista donde el elemento sea cero si la fila correspondiente en Resultado está en el conjunto `bad_outcome`; de ​​lo contrario, es uno. Luego asígnelo a la variable `landing_class`:

In [10]:
# landing_class = 0 si el resultado es malo
# landing_class = 1 en caso contrario

def onehot(item):
    if item in bad_outcomes:
        return 0
    else:
        return 1
landing_class = df["Outcome"].apply(onehot)
landing_class

0     0
1     0
2     0
3     0
4     0
     ..
85    1
86    1
87    1
88    1
89    1
Name: Outcome, Length: 90, dtype: int64

Esta variable representará la variable de clasificación que representa el resultado de cada lanzamiento. Si el valor es cero, la primera etapa no aterrizó con éxito; uno significa que la primera etapa aterrizó con éxito

In [11]:
df['Class']=landing_class
df[['Class']].head(8)

   Class
0      0
1      0
2      0
3      0
4      0
5      0
6      1
7      1

In [12]:
df.head(5)

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude,Class
0,1,2010-06-04,Falcon 9,6104.959412,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857,0
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857,0
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857,0
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093,0
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCAFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857,0

Podemos utilizar la siguiente línea de código para determinar la tasa de éxito:

In [13]:
df["Class"].mean()

0.6666666666666666

Ahora podemos exportarlo a un CSV para la siguiente sección, pero para que las respuestas sean consistentes, en el próximo laboratorio proporcionaremos datos en un rango de fechas preseleccionado.

In [14]:
df.to_csv("dataset_part_2.csv", index=False)